<%= form_tag '/login' do %>
    <h1>Вход</h1>
    <input type="text" name="username" placeholder="Логин"/> </br>
    <input type="password" name="password"  placeholder="Пароль" /><br>
    <input type="submit" name="commit" value="Войти"/>
<% end %>
